.ProfileDiv{
    background-color: #37718e;
    color: white;
}

.EditProfile{
    background-color: transparent;
    border: 0.5px solid whitesmoke;
    color: white;
}
.Profilebutton{
    background-color: #37718e;
    color: white;
}
.Profilebuttondiv button{
    border-radius: 0px !important;
    border: 0px;
}
.Profilebuttonclicked{
    color: #37718e;
    background-color: white !important;
}
.ProfilesecondDiv{
    border-left: 10px solid #37718e;
    border-right: 10px solid #37718e;
    border-bottom:5px solid #37718e; ;
}
.orderEmpty img{
    margin-top: 1%;
    margin-left: 20%;
}
.orderEmpty h6{
    margin-top: 3%;
    margin-left: 30%;
}
.orderEmpty p{
    margin-top: 1%;
    margin-left: 24%;
    margin-bottom: 1%;
}
.orderEmpty{
    margin-left: 12%;
}