.firstImage {
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-position: 100%;
  padding: 0px;
  width: 100%;
}
.row1{
  margin-right: 0px;
}
.imagefirstDiv {
  height: 550px;
}
.firstrow {
  padding: 0px;
}
.logo {
  width: 18%;
}
.Swiggycolour {
  color: #fc8019;
  font-weight: bolder;
  font-size: 32px;
  letter-spacing: 3px;
}
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  height: 48px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
}
.search-bar:hover{
  border: 1px solid #fc8019;
}
.search-bar input[type="text"] {
  flex-grow: 1;
  height: 100%;
  border: none;
  outline: none;
  padding: 6px;
  font-size: 20px;
  font-weight: 500;
  color: #535353;
  background-color: transparent;
}

.search-bar button[type="submit"] {
  height: 58px;
  width: 100px;
  border: none;
  outline: none;
  background-color: #fc8019;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.search-bar button[type="submit"] i {
  margin-right: 4px;
}
.cities{
  font-weight: bold;
  color: #535353;
}
.brownColour{
  background-color: #2b1e16;
  color: white;
  text-align: center;
}
.lastdiv{
  background-color: black;
  color: white;
  margin-right: 0px;
  
}
.lastdiv h6{
  color: #535353;
  margin:30px;
}
.lastdiv p{
 margin-left: 30px;
}
.lastdiv p:hover{
  font-size: 17px;
}
.playstore{
  position: relative;
  width: auto;
}
.loginButton :hover{
  color: #fc8019;
}
.loginDiv{
  position: fixed;
  top: 0;
}
.loginDiv p{
  font-size: small;
}
.loginleftDiv{
  opacity: 0.5;
  background-color: grey;
  height: 900px;
  padding: 0px;
}
.loginrighttDiv{
  background-color: white;
  height: 900px;
}
@media (min-width : 850px) {
  #loginsign{
   margin-top: 1rem;
  }
}

.orangeColour{
  color: #fc8019;
}
.createAcc:after {
  content: "";
  margin-left: 2rem;
  width: 30px;
  border: 1px solid black;
}
.inputBoxDiv{
  background-color: transparent;
  line-height: normal;
  border: none;
  outline: none;
  height: 70px;
  width: 100%;
  font-size: 17px;
}
.inputLogin{
  width: 85%;
  height: 60px;
  border: 1px solid #fc8019;
  outline: none;
}
.LoginButton{
  background-color: #fc8019 ;
  width: 85%;
  height: 50px;
  border-radius: 0px;
  color: white;
  font-weight: 600;
  font-size: large;
}
@media (max-width : 820px) {
  .inputLogin{
    width: 95%;
    height: 30px;
    border: 1px solid #fc8019;
    outline: none;
    font-size: small;
  }
  .LoginButton{
    background-color: #fc8019 ;
    width: 95%;
    height: 30px;
    border-radius: 0px;
    color: white;
    font-weight: 600;
    font-size: small;
  }
}
#loginDiv{
  visibility: hidden;
}
#signupDiv{
  visibility: hidden;
}
@media (max-width : 576px) {
 .loginleftDiv{
  display: none;
  
 }
 .loginrighttDiv{
  width: 100%;
  padding: 0px;
 }
 .loginrighttDiv input{
  width: 77%;
 }
 .LoginButton {
  width: 77%;
 }
 .loginrighttDiv p{
  width: 77%;
 }
}
.switchTapButton{
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 10px;
  font-size: small;
}
/* @media (min-width : 576px) and (max-width: 850px) {
  .loginrighttDiv p{
    width: 77%;
   }
} */
.switchTapButton:hover {
  color: #fc8019;
}