#rating1 {
  background-color: #48c479;
  color: #fff;
  padding: 5px 10px 10px 10px;
  text-align: center;
  border-radius: 5px;
}
.showcase {
  padding-left: 35%;
}
.detailsHome {
  margin-left: 1%;
}
.resDetails {
  margin-left: 20%;
}
.RatingDetails {
  margin-left: 1%;
}
@media (min-width: 600px) and (max-width: 850px) {
  .detailsHome {
    margin-left: 1%;
  }
  .RatingDetails {
    margin-left: 1%;
  }
  .resDetails {
    margin-left: 11%;
  }
}
@media (max-width: 600px) {
  .detailsHome {
    margin-left: 1%;
  }
  .RatingDetails {
    margin-left: 2%;
  }
  .resDetails {
    margin-left: 5%;
  }
  .showcase {
    padding-left: 10%;
  }
}
