#rating1 {
    background-color: #48c479;
    color: #fff;
    padding: 3px 5px 8px 5px;
    text-align: center;
    border-radius: 5px;
  }
  .showcase{
    padding-left: 35%;
}
.detailsHome{
  margin-left: 1%;
}
.resDetails{
  margin-left: 27%;
}
.locDetails{
  margin-left: 11%;
}
.RatingDetails{
  margin-left: 35%;
}
@media (min-width: 600px) and (max-width: 850px) {
  .detailsHome{
    margin-left: 1%;
  }
  .RatingDetails{
    margin-left: 18.5%;
  }
  .resDetails{
    margin-left: 21.5%;
  }
  .locDetails{
    margin-left: 19%;
  }
}
@media (max-width: 600px) {
  .detailsHome{
    margin-left: 1%;
  }
  .RatingDetails{
    margin-left: 8%;
  }
  .resDetails{
    margin-left: 6%;
  }
  .locDetails{
    margin-left: 3%;
  }
  .showcase{
    padding-left: 10%;
  }
}