.HomeHeader {
  font-size: 110%;
  padding-right: 0px;
   margin-top: 0%;
  padding-top:0% ;
}
.Relevance button{
  padding: 0px;
}
.HeaderRow1 {
  position: sticky;
}
.HomeHeader button {
  border: none;
  background: transparent;
  font-size: 100%;
  font-weight: 500;
  text-align: start;
}
.restaurantsCountDiv {
  padding-top: 1%;
  font-weight: 600;
  font-size: 200%;
}
.HeaderRow2 {
  position: sticky;
}
.HeaderRowBorder {
  content: "";
  margin-left: 2rem;
  width: 95%;
  border: 1px solid gray;
  margin-top: 0.8rem;
}
.activeHomeBtn1 {
  text-decoration: none;
  color: gray;
}
.activeHomeBtn {
  border-bottom: 2px solid gray;
}
.isLoading {
  margin-top: 20%;
  margin-left: 45%;
  color: #fc8019;
}
@media (max-width: 850px) {
.restaurantsCountDiv{
  display: none;
}
.HomeHeader{
  margin-left: 10%;
  width: 85%;
}
.HeaderRow2{
  border: none;
  background-color: white;
  color: gray;
  font-size: 80%;
  font-weight: 500;
  text-align: start;
}
}
